* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #D9D9D9; */
}

body {
  background-color: #D9D9D9;
  overflow-x: hidden;
}

.home-page{
  /* background-color: orange; */
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/image/background.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  
  
} 
.title {
  justify-content: center;
  align-content: center;
  align-items: center;
  
}
.title h1{
  opacity: 200%;
  font-size: 300%;
  font-size: 900;
  padding-top: 25%;
  color: #F49F0A;
  
}

#cards {
  width: 200px;
  height: 200px;
}
.login-page{
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  /* background-color: black; */
} 
.signup-page{
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  /* background-color: black; */
} 
#login-button{
  background-color: orange;
  color: black;
  border-color: black;
}
#login-button:hover{
  color: white;
}
#signup-button{
  background-color: orange;
  color: black;
  border-color: black;
}
#signup-button:hover{
  color: white;
}
.card{
  width: 400px;
  height: 60vh;
}
.custom-card{
  border-color: 2px solid orange
}
.greet{
  font-weight: bold;
  font-size: large;
}
.signup-link{
  color: orange;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}
.navbar {
  background-color: #007BFF; 
}

.navbar-brand {
  color: #fff; 
  font-size: 24px; 
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav .nav-link {
  color: black; 
  font-weight: bold; 
}

.navbar-nav .nav-link:hover {
  background-color: #0056b3;
  border-radius: 4px; 
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 4px; 
}

.btn-outline-success {
  color: #007BFF; 
  border-color: #007BFF;
}


.footer {
  background-color: #333; /* Change the background color of the footer */
  color: black; /* Change the text color */
  padding: 20px 0; /* Add some padding for spacing */
  text-align: center;
}

/* Additional Styles */
.shop-icon {
  color: black; /* Change the text color of the shop icon */
  font-size: 24px; /* Adjust the font size */
  font-weight: bold; /* Adjust the font weight */
}

/* Adjust the color of the icons inside the nav links */
.nav-link .svg-inline--fa {
  color: black; /* Change the icon color */
  font-size: 20px; /* Adjust the icon size */
}