* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #D9D9D9; */
}

body {
  background-color: #d9d9d9;
  overflow-x: hidden;
}

.home-page {
  /* background-color: orange; */
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/image/background.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.title {
  justify-content: center;
  align-content: center;
  align-items: center;
}
.title h1 {
  opacity: 200%;
  font-size: 300%;
  font-size: 900;
  padding-top: 25%;
  color: #f49f0a;
}

#cards {
  width: 200px;
  height: 200px;
}


#selected-cards{
  width: 200px;
  height: 200px;
}


.signup-page {
/* .login-page{ */
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  /* background-color: black; */
}
.login-page {
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  /* background-color: black; */
}
#auth-button {
  text-align: center;
  align-items: center;
  justify-content: center;
}
#login-button {
  /* background-color: orange; */
  color: black;
  border-color: black;
  text-align: center;
  width: 100px;
}

#login-button:hover {
  color: orange;
  background-color: white;
  outline-color: #333;
}
#login1-button {
  /* background-color: orange; */
  color: orange;
  border-color: orange;
  text-align: center;
  width: 100px;
}
#login1-button:hover {
  color: white;
  background-color: orange;
  outline-color: #333;
}
#signup-button {
  background-color: orange;
  color: black;
  border-color: black;
  border-radius: 5px;
  padding-left: 5px;
  width: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#signup-button:hover {
  color: white;
}
#signup1-button {
  color: orange;
  border-color: orange;
  text-align: center;
  width: 100px;
}
#signup1-button:hover {
  color: white;
  background-color: orange;
  outline-color: #333;
}
.card {
  width: 400px;
  height: 60vh;
}
.custom-card {
  border-color: 2px solid orange;
}
.greet {
  font-weight: bold;
  font-size: large;
}
.signup-link {
  color: orange;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}
.navbar {
  background-color: #007bff;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  margin-right: 20px;
}

.navbar-nav .nav-link:hover {
  background-color: rgb(237, 237, 237);
  border-radius: 4px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-outline-success {
  color: orange;
  border-color: orange;
}

.footer {
  background-color: #333;
  color: black;
  padding: 20px 0; /* Add some padding for spacing */
  text-align: center;
}

/* Additional Styles */
.shop-icon {
  color: black; /* Change the text color of the shop icon */
  font-size: 24px; /* Adjust the font size */
  font-weight: bold; /* Adjust the font weight */
}
.shop-icon span {
  color: orange;
}

/* Adjust the color of the icons inside the nav links */
.nav-link .svg-inline--fa {
  color: black; /* Change the icon color */
  font-size: 20px; /* Adjust the icon size */
}
#cart:hover {
  color: white;
  background-color: #ced4da;
}
#search-button {
  color: #f49f0a;
  border-color: orange;
}
#search-button:hover {
  background-color: #f49f0a;
  color: white;
}
#navbarNavDropdown {
  margin-left: 4.2cm;
}
#custom-button {
  background-color: orange;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 1.5rem;
}
#custom-button:hover {
  color: white;
}
#news-form {
  border-radius: 5px;
}
.custom-section {
  background-color: black;
  color: white;
}
.custom-section .shop-icon{
  color: white;
}
.custom-logo{
  margin-top: 3.5rem;
  font-size: x-large;
}

#selected-cards{
  width: 200px;
  height: 200px;

}

