[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-cors = "*"
flask-migrate = "*"
gunicorn = "*"
psycopg2-binary = "*"
faker = "*"
flask-serialize = "==1.0.2"
requests = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.10"
